{{template "main" .}}
{{define "content"}}
<h1>Guide for Guest Hosts</h1>
<p> Guest rounds usually take place in round 4 (questions 16 to 20). However,
if you'd like to do a music rounds (round 1) or an audio/quickfire round (round
 3), then just let me know.</p>
<p>You can ask questions on any subject you like, but please try not to make
them too hard. I know from experience that it's all too easy to come up with
very hard questions, particularly when the subject is one that you know
something about. It may not always seem like it, but I try to ask at least one
question per round that I think everyone will be able to answer. Feel free to
run your questions past me first, if you want.</p>
<p>Your audio can be in more or less any format - mp3 is fine. Obviously,
better sound quality is ideal, but I can usually sort out most issues with
audio quality and I feel that your participation is more important than the
sound quality.</p>
<p>When reading the questions, either say the question number or leave a gap,
and I will edit it the announcers voice. There is no announcer for the answers
so please mention the question number that you are answering, and giving a
little context helps (eg "The answers to question 16, I asked for the first
name of the current president of Afghanistan, and that is Hamid.")</p>
<p>Please feel free to plug your website or podcast if you want to. Don't
hesitate to let me know if anything isn't clear or you have any other
questions.</p>
<p>And finally, thank you! I know just how much effort it takes to research and
record questions and answers, so I'm very grateful that you're taking the time
to do it.</p>
{{end}}
