{{define "main"}}
<!DOCTYPE html>
<html>
  <head>
    <link href='/favicon.ico' rel='shortcut icon'>
    <link href='/podquiz.css' rel='stylesheet' type='text/css'>
    <link href='/css/jplayer.pink.flag.min.css' rel='stylesheet' type='text/css'>
    <link href='/podquiz.rss' rel='alternate' title='Subscribe to PodQuiz' type='application/rss+xml'>
    <script type='text/javascript' src='/js/jquery-3.2.1.min.js'></script>
    <script type='text/javascript' src='/js/jquery.jplayer.min.js'></script>
    <meta content='trivia,quiz,questions,answers,music,podsafe,quizbowl,pub,pubquiz,fun,weekly' name='keywords'>
    <title>{{.PageTitle}}</title>
  </head>
  <body class='podquiz'>

    <a class='skip-nav-link' href='#content'>skip navigation</a>
    
    <!--
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_GB/all.js#xfbml=1";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
    
    <script type="text/javascript">
      (function() {
        var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
        po.src = 'https://apis.google.com/js/plusone.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
      })();
    </script>
    -->

    <nav class='sidebar'>
      <header>
        <a href='/'>
          <span class='hpodquiz'>PodQuiz</span>
          <img alt='' src='/img/pqlogo-trans192.png'>
          <span class='htagline'>The weekly trivia quiz podcast.</span>
        </a>
      </header>
      <section class='box'>
        <a href='archive.html'>Archived Quizzes</a>
      </section>
      <section class='box'>
        <a href='mailto:quizmaster@podquiz.com'>Email the Quizmaster</a>
      </section>
      <section class='box'>
        <a href='/podquiz.rss'>Subscribe to PodQuiz</a>
      </section>
      <section class='box'>
        <a href='/merch/'>PodQuiz Merchandise</a>
      </section>
      <section class='box'>
        <a href='/discord/'>Discord Server</a>
      </section>
      <section class='box'>
        <a href='https://www.patreon.com/podquiz'>Become a Patron</a>
      </section>
      <section class='box'>
        <a href='https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=QVUBT3X7QCEMG&source=url'>Donate via Paypal</a>
      </section>
      <section class='box'>
        <a href='https://www.stitcher.com/show/podquiz-weekly-trivia-quiz'>
          <img alt='Listen on Stitcher' height='21' src='img/stitcher.png' title='Listen on Stitcher' width='57'>
        </a>
        <a href='https://podcasts.apple.com/gb/podcast/podquiz-weekly-trivia-quiz/id73796947'>
          <img alt='Open in iTunes' height='20' src='img/itunes.gif' title='Open in iTunes' width='65'>
        </a>
        <a href='https://www.facebook.com/podquiz/'>
          <img alt='PodQuiz on Facebook' height='80' src='/img/facebook.png' title='PodQuiz on Facebook' width='80'>
        </a>
        <a href='https://www.twitter.com/podquiz'>
          <img alt='PodQuiz on Twitter' height='80' src='/img/twitter.png' title='PodQuiz on Twitter' width='80'>
        </a>
        <a href='https://clustrmaps.com/counter/maps.php?url=http://www.podquiz.com/' id='clustrMapsLink'>
          <img alt='Locations of visitors to this page' src='https://clustrmaps.com/counter/index2.php?url=http://www.podquiz.com/'>
        </a>
      </section>
    </nav>
    <section id='content' class='content'>
{{template "content" .}}
	<footer>
	    <hr>
	    <img alt='' class='logo' height='16' src='img/ico16w.png' width='16'>
	</footer>
    </section>
  </body>
</html>
{{end}}
