$sidebar_width: 192px
$sidebar_pad: 8px
$page_pad: 6px
$body_width: 206px
$sidebar-border: 5px
$commentform_width: 25em
$commentform_name_width: 17em
$commentform_textarea_height: 13em
$yellow: #ffffcc
$brown: #996633
$black: #000000
$blue: #0000ff
$red: #0000ff
$font: "Droid Sans", sans-serif

@import url(http://fonts.googleapis.com/css?family=Droid+Sans:400,700)

*
  margin: 0
  padding: 0


header, footer, aside, nav, article
  display: block  

h1
  font-size: 200%
  font-weight: bold
  text-align: center
  text-decoration: underline
  padding-top: 0.5em
  padding-bottom: 0.5em

h2, h3
  padding-top: 0.5em
  font-weight: bold

h2
  font-size: 120%

h3
  font-size: 100%


p
  padding-top: 0.5em
  padding-bottom: 0.5em

img
  border-width: 0


$brownbox()
  border-style: solid
  border-width: 3px
  border-color: $black
  -moz-border-radius: 20px
  -webkit-border-radius: 20px
  -khtml-border-radius: 20px
  border-radius: 20px
  behavior: url(/css/PIE.htc)
  a:link, a:visited, a:hover
    color: $yellow
  color: $yellow
  background-color: $brown

.podquiz
  color: $black
  background-color: $yellow
  font-family: $font
  a:link
    background: transparent
    color: $blue
    text-decoration: none
  a:hover
    background: transparent
    color: $blue
    text-decoration: underline
  a:visited
    background: transparent
    color: $red
    text-decoration: none

section.social
  height: 3em
  div
    float: left
    height: 25px
  .facebook
    width: 90px
  .plusone
    width: 120px
  .comdate
    padding-right: 1em
    font-size: 80%

article.quiz
  clear: both
  padding-bottom: 1em
  section.player
    $brownbox()
    float:right
    text-align: center
    padding-left: 4px
    margin-left: 1em
    margin-right: 4px
  p.description
    br
      display: block
      margin-bottom: 0.5em

section.comments
  br
    display: block
    margin-bottom: 0.5em
  section.comment
    p.date
      font-size: 80%
      padding: 0

  .commentform
    margin: auto
    width: $commentform_width
    $brownbox()
    padding-top: 1em
    padding-bottom: 1em
    text-align: center
    input
      color: $black
      background-color: $yellow
    input.name
      width: $commentform_name_width
    input.submit
      color: $yellow
      background-color: $brown
    input.human
      width: 3em
    textarea
      color: $black
      background-color: $yellow
      width: $commentform_width
      height: $commentform_textarea_height

footer
  clear: both
  img.logo
    float: right
    border: 0

body
  margin: 0
  padding: 0 0 0 $body_width
.sidebar
  position: absolute
  top: 0
  left: $page_pad
  width: $sidebar_width
  height: 100%
  text-align: center
  a:link, a:visited, a:hover
    color: $black
  header
    padding-top: 10px
    padding-bottom: 10px
    .hpodquiz
      font-size: 150%
    .htagline
      font-size: 105%
  section.box
    $brownbox()
    font-weight: bolder
    margin-top: 5px
    margin-bottom: 5px
    padding-top: 3px
    padding-bottom: 3px
@media screen
  body > nav.sidebar
    position:fixed

.content
  padding-right: $page_pad

span.quizlink
  float: left
  display: block
  width: 11em

span.small
  font-size: 80%

